@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

.container {
    height: 300px;
    width: 300px;
    border: 1px solid rgb(26, 26, 68);
    border-radius: 5px;
    margin: 10rem auto;
    text-align: center;
    background: linear-gradient(rgba(125, 125, 231, 0.603), rgba(0, 0, 0, 0.822)),
    url('../images/1.jpg');
    background-size: cover;
    background-position: center;
}

.container > input, .container button {
    display: block;
    margin: 1.2rem auto;
}

.container button {
    width: 5rem;
    padding: 0.3rem;
    color: rgb(204, 199, 218);
    background-color: rgb(6, 7, 66);
}

.container h3 {
    margin: 2rem;
    color: white;
    text-transform: capitalize;
}

.container p {
    color: aliceblue;
    font-size: 1.5rem;
    text-transform: capitalize;
}